* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #e2e2e2ce;
  padding:0px;
}

header h1 {font-size: 38px;
color: white}



h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  text-align: center;
  text-decoration:solid;
  background-color: rgba(128, 128, 128, 0.582);
  
}



/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #003b51;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

h2{font-size: 48px;
color: #003b51be}

.AboutMe{height: 190px;
position: static;}


#challange1{
  background: url(/images/02-portfolio-3.jpg);
  
}
#challange2{
  background: url(/images/02-portfolio-3.jpg);
}
#challange3{
  background: url(/images/02-portfolio-3.jpg);
}
h3{color: white;
size: px;}

#categoryGrid {
  margin: 0px 5%;
  display: grid;
grid-template-rows: 600px 600px 600px;
  grid-template-columns: 1fr 1fr ;
  row-gap: 20px;
  grid-gap: 20px;
  grid-template-areas:

  "";


}

  #categoryGridarea{
    padding: 10px;
    border: 10px
  ;
  
  }
  h3{
    margin-top: 
  400px
  }
  p{background: rgb(0,0,0,0.7)}